*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.todo-container{
    width: 600px;
    background: #f6f6f6;
    margin: 30px auto 0;
}
.todo-container .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}
.todo-container .add-task input{
    display: inline-block;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    width: calc(100% - 15px);
    color: #fff;
    font-size: 20px;
}
.todo-container .add-task input:focus{
    outline: none;
}
.todo-container .add-task .plus{
    position: absolute;
    right: 15px;
    background: #fff;
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border-radius: 50%;
    font-size: 38px;
    color: #009688;
    cursor: pointer;
    transition: transform .3s;
}
.todo-container .add-task .plus:hover{
    transform: rotate(90deg);
}
.todo-container .task-content{
    padding: 15px;
}
.todo-container .no-task-message{
    color: #777;
    font-size: 15px;
}
.todo-container .task-content > span{
    display: block;
    background-color: #fff;
    padding: 10px;
}
.todo-container .task-content > span:not(:last-child){
    margin-bottom: 10px;
}
.todo-container .task-content .task-box .delete{
    float: right;
    background-color: #e91e63;
    padding: 4px 10px ;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.todo-container .task-content .task-box.finished{
    text-decoration: line-through;
}
.task-stats{
    overflow: hidden;
    margin: 10px auto ;
    width: 600px;
    font-size: 12px;
}
.task-stats .task-counts{
    width: 50%;
    float: left;
    padding: 10px;
    text-align: left;
}
.task-stats .task-completed{
    width: 50%;
    float: right;
    padding: 10px;
    text-align: right;
}
.task-stats .task-counts span,
.task-stats .task-completed span{
    color: #fff;
    padding: 1px 5px;
    font-size: 10px;
    border-radius: 4px;
    font-weight: bold;
}
.task-stats .task-counts span{
    background: #e91e63;
}
.task-stats .task-completed span{
    background: #03a9f4;
}
.swiper-slide img{
    height: 100vh;
    width: 100%;
    object-fit: contain;
}